<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
</head>

<body id="page-top">
  <div id="wrapper">
    <app-sidebar class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"></app-sidebar>

    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">

        <!-- Navbar -->
        <app-navbar class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"></app-navbar>
        
        <div class="container-fluid">
          <div
            class="d-sm-flex justify-content-between align-items-center mb-4"
          >
            <h3 class="text-dark mb-0">Dashboard</h3>
            <a
              class="btn btn-primary btn-sm d-none d-sm-inline-block"
              role="button"
              href="#"
              ><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate
              Report</a>
          </div>

          <!-- General cards -->
          <div class="row">
            <app-general-card class="col-md-6 col-xl-3 mb-4" [cardTitle]="'Earnings (Annual)'" [cardAmount]="'$480,000'"></app-general-card>
            <app-general-card class="col-md-6 col-xl-3 mb-4" [cardTitle]="'Earnings (monthly)'" [cardAmount]="'$40,000'"></app-general-card>
            <app-general-card class="col-md-6 col-xl-3 mb-4" [cardTitle]="'Tasks'" [cardAmount]="'5'"></app-general-card>
            <app-general-card class="col-md-6 col-xl-3 mb-4" [cardTitle]="'Pending Requests'" [cardAmount]="'17'"></app-general-card>
          </div>

          <div class="row">

            <!-- Earnings Overview -->
            <app-line-graph class="col-lg-7 col-xl-8"></app-line-graph>

            <!-- Revenue Sources -->
            <app-pie-chart class="col-lg-5 col-xl-4"></app-pie-chart>
          </div>

          <div class="row">
            <div class="col-lg-6 mb-4">

              <!-- Projects -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="text-primary fw-bold m-0">Projects</h6>
                </div>
                <div class="card-body">
                  <app-project-progress project="Server Migration" progress="20" progressClass="progress-bar bg-danger"></app-project-progress>
                  <app-project-progress project="Sales Tracking" progress="40" progressClass="progress-bar bg-warning"></app-project-progress>
                  <app-project-progress project="Customer Database" progress="60" progressClass="progress-bar bg-primary"></app-project-progress>
                  <app-project-progress project="Payout Details" progress="80" progressClass="progress-bar bg-info"></app-project-progress>
                  <app-project-progress project="Account Setup" progress="100" progressClass="progress-bar bg-success"></app-project-progress>
                </div>
              </div>

              <!-- To-Do List -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="text-primary fw-bold m-0">To-Do List</h6>
                </div>
                <ul class="list-group list-group-flush">
                  <app-to-do-items class="list-group-item" task="Stand-Up Meeting" time="8:00 AM"></app-to-do-items>
                  <app-to-do-items class="list-group-item" task="Stakeholder Meeting" time="10:00 AM"></app-to-do-items>
                  <app-to-do-items class="list-group-item" task="Lunch Meeting" time="12:30 PM"></app-to-do-items>
                </ul>
              </div>
            </div>

            <!-- Priority cards -->
            <div class="col">
              <div class="row">
                <app-priority-cards class="col-lg-6 mb-4" [priority]="'Primary'" [color]="'#4e73df'" [cardClass]="'card text-white bg-primary shadow'"></app-priority-cards>
                <app-priority-cards class="col-lg-6 mb-4" [priority]="'Success'" [color]="'#1cc88a'" [cardClass]="'card text-white bg-success shadow'"></app-priority-cards>
                <app-priority-cards class="col-lg-6 mb-4" [priority]="'Info'" [color]="'#36b9cc'" [cardClass]="'card text-white bg-info shadow'"></app-priority-cards>
                <app-priority-cards class="col-lg-6 mb-4" [priority]="'Warning'" [color]="'#f6c23e'" [cardClass]="'card text-white bg-warning shadow'"></app-priority-cards>
                <app-priority-cards class="col-lg-6 mb-4" [priority]="'Danger'" [color]="'#e74a3b'" [cardClass]="'card text-white bg-danger shadow'"></app-priority-cards>
                <app-priority-cards class="col-lg-6 mb-4" [priority]="'Secondary'" [color]="'#858796'" [cardClass]="'card text-white bg-secondary shadow'"></app-priority-cards>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Footer -->
      <app-footer class="bg-white sticky-footer"></app-footer>

    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
  </div>
</body>
